<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="background-color:rgb(0,0,0,0.5)">
    <ion-title>Explore</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="explore">

<!-- SCROLLBAR ON TOP -->

    <ion-scroll scrollX="true"  class="item" style="height:200px" id="sccc">
        <ion-row>
            <ion-col width-50>
                <ion-card style="height:125px">
                     <img src='img/swing.jpeg'>
                      <div  class="card-title"></div>
                  </ion-card>
            </ion-col> 
            <ion-col width-50>
               <ion-card style="height:125px">
                     <img src='img/brain.jpg'>
                     <div  class="card-title"></div>
                  </ion-card>
            </ion-col> 
            <ion-col width-50>
               <ion-card style="height:125px">
                     <img src='img/tomte.jpg'>
                     <div  class="card-title"></div>
                  </ion-card>
            </ion-col> 
        </ion-row>
    </ion-scroll>

<!-- TOPLIST & POPULR & NEW COACHES -->

    <ion-list no-lines class="list">

    <!--
  <ion-item (click)="_toplist()">
    <ion-icon name="podium" item-left small> Topplistor</ion-icon>
  </ion-item>
  -->
  <ion-item (click)="_popular()">

    <span item-left><ion-icon name="ribbon" item-left small> Populära just nu</ion-icon></span>
    <span item-right><ion-icon name="arrow-forward" item-left small></ion-icon></span>

  </ion-item>
  <ion-item (click)="_newcoaches()">
      
    <span item-left><ion-icon name="calendar" item-left small> Nya tränare</ion-icon></span>
    <span item-right><ion-icon name="arrow-forward" item-left small></ion-icon></span>

  </ion-item>
</ion-list>


<!-- CATEGORIES -->

<h5>Categories</h5>


        <ion-row> 
        <ion-col>
            <ion-row *ngFor="let category of AllCategories; let i=index" (tap)="_category([category.name], [category.id])">


                <ion-col *ngIf="i % 2 === 0">
                    <ion-card class="backgound">
                        <h2 class="card-title">{{category.Name}}</h2>
                        <img src='img/{{category.id}}.jpg'>
                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-col>
        <ion-col>


            <ion-row *ngFor="let category of AllCategories; let i=index" (tap)="_category([category.name], [category.id])">


                <ion-col *ngIf="i % 2 === 1">
                    <ion-card class="backgound">
                        <h2  class="card-title">{{category.Name}}</h2>  
                        <img src='img/{{category.id}}.jpg'>    
                    </ion-card>
                </ion-col>


            </ion-row>
        </ion-col>
        </ion-row>




<!-- TESTING
<span *ngIf="1==0">
  jaha det var ju kul
</span>
--->


</ion-content>
