.explore {


.backgound-for-categorys1{
  height: 125px;
  background-size: 100%;
  opacity:0.6;
}


.backgound-for-categorys2{
  height: 125px;
  background-size: 100%;
  opacity:0.6;
}

.card-title{
  color: white;
  font-size: 24px;
  z-index: 100;
  position: absolute;
  text-align: center;
}

h5{
  color: white;

}

ion-item{
  color: white;
  background-color: transparent;
  
}

ion-scroll{
  background-color: transparent;
}















}


