.home {

  h2{
      size: 50px;
      padding-top: 50px;
      text-align: center;
      color: green;
      font-size: 52px;
  }

  button{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 200px;
  }
  

}



