.training {

.exSquare{
  height: 50%
}

.start {
  display: flex;
}
.inTraining {
  display: none;
}
.stop{
  display: none;
}
.pause{
  display: none;
}
.next{
  display: none;
}
.done{
  display: none;
}
.choosen{
  background-color: green;
}





}
