.training {

.exSquare{
  height: 50%
}

.start {
  display: flex;
}
.inTraining {
  display: none;
}
.stop{
  display: none;
}
.pause{
  display: none;
}
.next{
  display: none;
}
.done{
  display: none;
}
.choosen{
  background-color: green;
}
.delay{
  position: absolute;
  top: 50%;
  right: 50%;

  font-size: 50px;
  color: red;
}
.hej{
  display: none;
  background-color: yellow;
}





}
