.coach {
  
  .back{

    background-size: 100%;
    background-color: black;
    opacity: 0.5;
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .profile_pic{
        position: absolute;
        left: 10%;
        top: 5%;
        width: 100px;
        height: 100px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        box-shadow: 0 0 10px #1dbaa5;
        -webkit-box-shadow: 0 0 1px #1dbaa5;
        -moz-box-shadow: 0 0 10px #1dbaa5;
        z-index: 9999;
        border-style: solid;
        border-color: #1dbaa5;
      }

      .name{
        position: absolute;
        left: 42.5%; 
        top: 10%;
        background-color: transparent;
        color: #1dbaa5;
        width: 2000px;
       }

      .workouts{
        background-color: #E6E6E6;
      }

      .description{
        position: absolute;
        left: 10%;
        top: 30%;
        background-color: transparent;
        color: #1dbaa5;
        width: 80%;
      }

      


  

.follow-button-pos{
        position: absolute;
        left: 20%;
        top: 70%;
      }

      // Following button, be catious
      /* Chrome, Safari, Opera */
              @-webkit-keyframes follow-animation {
                from {background: white; color: #3399FF; width: 85px; left: 50px;}
                to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
              }
              @-webkit-keyframes unfollow-animation {
                from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
                to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
              }

              /* Standard syntax */
              @keyframes follow-animation {
                from {background: white; color: #3399FF; width: 85px; left: 50px;}
                to {background: #2EB82E; border-color: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
              }
              @keyframes unfollow-animation {
                from {background: #2EB82E; color: #ffffff; width: 120px; left: 35px;}
                to {background: white; border-color: #3399FF; color: #3399FF; width: 85px; left: 50px;}
              }

              input {
                -webkit-appearance: none;
              }

              input:after {
                color: #3399FF;
                font-family: "Helvetica";
                font-size: 10pt;
                background-color: #ffffff;
                border: 1px solid;
                border-color: #3399FF;
                border-radius: 3px;
                position: absolute;
                top: 50px;
                left: 50px;	
                cursor: hand;
                display: inline-block;
                text-align: center;
                padding: 5px 15px;


                content: '+ Follow';
                -webkit-animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-animation-fill-mode:forwards;
                animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode:forwards;
              }

              input:checked:after {
                content: 'Following';
                -webkit-animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-animation-fill-mode:forwards;
                animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode:forwards;
              }	


}
